.calculator{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(81, 75, 134);
  width: 470px;
}
.calcDisplay{
  margin-left: 10px;
  width: 450px;
  height: 100px;
  background-color: rgb(170, 238, 238);
  text-align: end;
  font-size: 40px;
  flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.calcButtons{
  margin: 5px;
  font-size: 40px;
  width: 80px;
  height:80px;
}

.first, .second, .third, .fourth {
  background-color: rgb(78, 78, 78);
}